<!DOCTYPE html>
<html>
<body>

<h2>Post</h2>

<form action="../post" method="post">
{{range .data}}
  <label for="fname">{{.}}:</label><br>
  <input type="text" id="{{.}}" name="{{.}}" value=""><br>
 {{end}}
  <input type="submit" value="Submit">
</form> 


</body>
</html>
