{{template "header1.tmpl" .}}
<h2>new {{.data.path}}</h2>
<form action="." method="post">
{{range .data.cols}}
  <label for="fname">{{.}}:</label><br/>
  <input type="text" id="{{.}}" name="{{.}}" value=""><br/>
 {{end}}
<br/><input type="submit" value="Submit">
</form> 
{{template "footer1.tmpl" .}}





