<html>
<head>
<link rel="stylesheet" href="{{.static}}/main.css"/> 
<head/>

<body>
<h1 id="LE-GO">LE GO<h1/>
<ul>
{{range .index}}
<li><a href="{{.}}">{{.}}</a> </li> 
{{end}}
</ul>  
<body/>  
<html/> 
